#my-work {
  padding-top: 2rem;
  background-color: $black-shade1;
  color: $white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .nextSection {
    align-self: flex-end;
  }

  h1 {
    width: 100%;
    flex-shrink: 2;
    font-size: $f-xlarge;
    font-family: Lobster;
    height: $f-xlarge + 2rem;
  }

  .showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    > div,
    a {
      width: 8.5rem;
      height: 8.5rem;
      border-radius: 100%;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    .github-link {
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      color: $black;
      cursor: pointer;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $f-normal;

        svg {
          margin-top: 0.1rem;
          margin-right: 0.25rem;
        }

        span {
          color: #000;
        }
      }
    }
  }

  .certificateLink {
    width: 100%;
    display: flex;

    button {
      font-size: $f-normal;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      border: 0;
      color: $white;
      padding-bottom: 0.125rem;
      border-bottom: 0.125rem solid $white;
      cursor: pointer;

      img {
        padding-left: 0.25rem;
      }
    }
  }

  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $black-shade1;

    .certificates {
      max-width: 43.75rem;
      margin: 0 auto;
      overflow-y: hidden;

      .certificate {
        margin-bottom: 2rem;

        h3 {
          font-size: $f-large;
          line-height: 1.5;
          font-weight: 700;
        }

        .link {
          background-color: $white;
          color: $black;
          padding: 0.25rem 1rem;
          border-radius: 1rem;
          margin-top: 0.25rem;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
