// Primary Color
$primary: #f15152;
$primary-light1: #f6898a;
$primary-light2: #f9b8b9;
$primary-light3: #fde7e8;

// Blacks & Gray
$gray: #867a7a;
$black: #2d0b0b;
$black-shade1: hsla(0, 61%, 11%, 75%);
$black-shade2: hsla(0, 61%, 11%, 50%);
$black-shade3: hsla(0, 61%, 11%, 25%);

//White
$white: #fff;

// Font Sizes
$f-small: 0.75rem;
$f-normal: 1.25rem;
$f-large: 1.5rem;
$f-xlarge: 2.5rem;
